* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff !important;
  text-decoration: none;
}

body {
  background-image: url(images/197.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.bg-overlay{
  background-color: rgba(7, 7, 7, 0.589);
  height: 100vh;
}

.header {
  color: #fff;
}

.header h1 {
  font-weight: 600;
  line-height: 60px;
}

.button{
  border: 1px solid #fff;
  background: none;
  padding: 5px 10px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 5px;
}

.button:hover{
  background-color: #fff;
  color: #000 !important;
  transition: 0.5s;
}

.btns .container{
  width: 50%;
  margin: 0 auto;
}
